
<div class="title-container">
<h1> Ideas</h1>

 <%= link_to 'New Post', '/ideas/new' %>
</div>

</div class="ideas">
    <% @idea.each do |idea|%>
       <div class="line">
         
            <div>
                <h3><%= link_to idea.title, idea_path(idea)%></h3>
                <p><%= idea.body%></p>
            </div>
        <div>
            <%if user_signed_in? %>
               <% if @like.present? %>
                    <%= link_to( 
                            "Like", 
                        idea_like_path(@idea, @like),
                    method: :delete
                    )   
                %> <%else%>   <%=link_to( 
                    "un-like", 
                    idea_likes_path(@idea),
                    method: :post
                        )
                %>
                <%end%>
                
            <%end%>
        </div>
        <div>
        Likes: <%=idea.likes&.count%>
        </div>
        </div>
    <% end %>
</div>